._24xk a ._2n_9,
._24xk a ._2n_9:hover{
	background-position: 0 -38px !important;
	opacity: 1 !important;
}

._4kgv a ._2n_9,
._4kgv a ._2n_9:hover{
	background-position: 0 -288px !important;
	opacity: 1 !important;
}

._5orl a ._2n_9,
._5orl a ._2n_9:hover{
	background-position: 0 -138px !important;
	opacity: 1 !important;
}

._4d1i a ._59fb,
._4d1i a ._59fb:hover{
	background-position: -34px -226px !important;
	opacity: 1 !important;
}

._5v-0 a ._5lxt,
._5v-0 a ._5lxt:hover{
    background-position: 0 -226px !important;
    opacity: 1 !important;
}

._5u5j a{
	color: black !important;
}

/*Name of the users*/
._3u6q ._2s1y
{
	background-color: black !important;
}

._4jy1,
._4jy1:hover{
	background-color: black !important;
}

/*Make an ad*/
a ._42ef{
	color: black !important;
}

/*Facebook Side Link*/
._4tvz a{
	color: black !important;
}

/*Hash Tag*/
._5v0s,
._5v9v{
	color: black !important;
}

/*See more*/
._5my9,
.uiHeaderTop a{
	color: black !important;	
}

a .name{
	color: black !important;
}

._5vb_,
._5vb_ #contentCol{
	background-color: #ACACAC !important;
}

a{
	color: black !important;
	border: black !important;
}

._4jy3 a,
._4q39 a,
._4hic a,
._2s25{
	color: white !important;
}